---
layout: default
title: "Fictions"
---

<div class="introduction">

<p style="text-align: justify;">
Worlds begin at the edge of thought. Calm your shallow breaths. Take in a lungful. Rest your reason-battered bones. Make do with the mundane. Put down your gloom. Pull away at your sheesha. Let the fumes settle. The apocalypse can wait a while. Glide through my imaginarium. Select at random. Find your tale.   
</p>
</div>

    
<hr>
<!--<div class="toc">
    <center>
    <div class="row">
        {% for item in site.texts %}
      <div class="column">
          <a style="font-size: 25px;" href="{{ item.url | prepend: site.baseurl }}">{{item.filename}}.</a>
      </div>
      {% endfor %}
    </div>
    </center>

    </div>-->

<div class="toc">
   <center>
  {% assign groups = site.texts | group_by:"category" %}
  {% for group in groups %}
      <h2>{{group.name | upcase}}</h2>
      <br>
       <div class="row">    
      {% for item in group.items %}
      <div class="column">
              <a style="font-size: 25px;" href="{{ item.url | prepend: site.baseurl }}">{{ item.filename }}</a>
      </div>
      {% endfor %}
       </div>
  {% endfor %}
  </center>

  </div>

    <!--<li class="text-title">-->
<!--
    {% for item in site.texts %}
<a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
 <br>
       {% endfor %}

    </div>

    <!--</li>
</div>-->


           
